@import 'SpotifyFont.scss';

body {
  background: #508A6B;
}

.container {
  margin-top: 40px;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x:hidden;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lower {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.content{
  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 60%;
    padding: 61px 20px;
    border-radius: 10px;
    background: #bcaa99;
  }

  &__edit {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 60%;
    padding: 31px 20px;
    border-radius: 10px;
    background: #bcaa99;
  }
}

.preview {
  display: flex;
  width: 40%;
  height: 100%;
  padding: 30px;
  background: #121212;
  color: #A9A9A9;
  border-radius: 10px;

  &_photo {
    border-radius: 50%;
    flex: 1;
  }

  &__info {
    width: 1%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
    flex: 3;
    flex-direction: column;


    &-header {
      display: flex;
      justify-content: space-between;
      width: 13vw;
      font-family: Circular;
      margin-top: 10px;
      margin-left: 10px;
    }
    &-body {
      margin-top: 5px;
      margin-left: 10px;
      width: 101%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      font-family: Circular;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;

      div:first-child {
        margin-right: 4px;
      }

      div:last-child {
        margin-left: 4px;
      }
    }
    &-footer {
      display: flex;
      justify-content: flex-start;
      margin-top: 6px;
      margin-left: 10px;
      font-family: Circular;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;

      img {
        margin-top: 2px;
      }

      &_playlist {
        margin-left: 5px;
      }
    }
  }
}

.blank__space {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dropzone__div {
  width: 182px;
  height: 36px;
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  border: 1px dashed;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;;
  margin-bottom: 5px;

  p {
    margin-left: 10px;
  }
}

.dropzone__label {
  width: 100%;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-weight: 500;
  margin-left: 118px;
  margin-bottom: 5px;
}